@import '../../styles/variables';

.check {
  display: flex;
  align-items: center;
  height: 40px;
  position: relative;
  font-size: $font-S;
  color: $colorText;
  line-height: $lineHeight-M;
  padding-left: 50px;
  cursor: url('assets/cursor.svg'), auto;

  &:hover {
    background-color: $backgroundHoverEffect;
  }

  &__input {
    appearance: none;
    position: absolute;

    &:checked + .check__box {
      background: url('/assets/shape.svg') no-repeat 5px 7px;
      border-color: $highlighted–°olor;
    }
  }

  &__box {
    width: 20px;
    height: 20px;
    border: 1px solid $notSelectedInput;
    border-radius: 3px;
    position: absolute;
    left: 0;
    z-index: 1;
    margin-left: 20px;
  }
}
