@import '../../styles/variables';
@import '../../styles/extends';

.button {
  @extend %button_extend;
  background-color: $backgroundWindow;
  border: 1px solid $borderColor;
  grid-area: button;
  height: 50px;
  // background-color: $highlightedСolor;

  &:focus {
    background-color: #2196f3;
    color: $backgroundWindow;
  }
}
