@import '../../styles/_variables';
@import '../../styles/extends';

.ticket {
  max-width: 504px;
  width: 100%;
  box-shadow: 0 2px 8px 0 rgba($color: #000000, $alpha: 0.1);
  margin-bottom: 20px;
  background-color: $backgroundWindow;
  border-radius: 5px;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  &__price {
    margin: 0;
    color: $highlightedСolor;
    font-weight: $semiBold;
    font-size: $font-L;
    letter-spacing: 0.4px;
    line-height: $lineHeight-L;
  }
}
