@use '../../styles/variables' as variables;
@use '../../styles/extends' as extends;

.description {
  table-layout: fixed;
  padding-bottom: 10px;
  width: 100%;

  &__subTitle {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  &:last-child {
    padding-bottom: 20px;
  }

  &__info {
    @extend %text_extend;
    color: variables.$greyColor;
    font-size: variables.$font-XS;
    line-height: variables.$lineHeight-S;
    padding: 0;
  }

  &__text {
    @extend %text_extend;
    color: variables.$colorText;
    font-size: variables.$font-M;
    line-height: variables.$lineHeight-XS;
    padding: 0;
  }
}
