$background: #f3f7fa;
$backgroundWindow: #ffffff;
$colorText: #4a4a4a;
$highlightedСolor: #2196f3;
$greyColor: #a0b0b9;
$notSelectedInput: #9abbce;
$backgroundHoverEffect: #f1fcff;
$borderColor: #dfe5ec;

//font weight
$semiBold: 600;

//line height
$lineHeight-XXS: 12px;
$lineHeight-XS: 15px;
$lineHeight-S: 18px;
$lineHeight-M: 20px;
$lineHeight-L: 35px;

//font size
$font-XS: 12px;
$font-S: 13px;
$font-M: 14px;
$font-L: 24px;

//letter spacing
$letterSpacingVerySmall: 0.3px;
$letterSpacingSmall: 0.5px;
