@import url('./fonts/fonts.scss');
:root {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  background-color: #f3f7fa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
